In [43]:
import pandas as pd 
import tensorflow as tf
import numpy as np 
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix

In [8]:
tf.__version__

'2.12.1'

In [5]:
df = pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [9]:
dataset = df.copy()

In [11]:
dataset = dataset.drop(['CustomerId', 'RowNumber', 'Surname'], axis=1)
dataset.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [12]:
le = LabelEncoder()
dataset['Gender'] = le.fit_transform(dataset['Gender'])
dataset.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [13]:
dataset.Geography.value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [14]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

In [15]:
X

array([[619, 'France', 0, ..., 1, 1, 101348.88],
       [608, 'Spain', 0, ..., 0, 1, 112542.58],
       [502, 'France', 0, ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 0, ..., 0, 1, 42085.58],
       [772, 'Germany', 1, ..., 1, 0, 92888.52],
       [792, 'France', 0, ..., 1, 0, 38190.78]], dtype=object)

In [19]:
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [36]:
X

array([[ 0.99720391, -0.57873591, -0.57380915, ...,  0.64609167,
         0.97024255,  0.02188649],
       [-1.00280393, -0.57873591,  1.74273971, ..., -1.54776799,
         0.97024255,  0.21653375],
       [ 0.99720391, -0.57873591, -0.57380915, ...,  0.64609167,
        -1.03067011,  0.2406869 ],
       ...,
       [ 0.99720391, -0.57873591, -0.57380915, ..., -1.54776799,
         0.97024255, -1.00864308],
       [-1.00280393,  1.72790383, -0.57380915, ...,  0.64609167,
        -1.03067011, -0.12523071],
       [ 0.99720391, -0.57873591, -0.57380915, ...,  0.64609167,
        -1.03067011, -1.07636976]])

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [25]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [33]:
X_test

array([[-1.01558815,  1.76021608, -0.57468161, ...,  0.64365658,
         0.96668786,  1.61203027],
       [ 0.98465111, -0.56811207, -0.57468161, ...,  0.64365658,
        -1.03446007,  0.49626891],
       [-1.01558815, -0.56811207,  1.74009395, ...,  0.64365658,
         0.96668786, -0.42502785],
       ...,
       [ 0.98465111, -0.56811207, -0.57468161, ...,  0.64365658,
        -1.03446007, -0.272747  ],
       [-1.01558815,  1.76021608, -0.57468161, ...,  0.64365658,
        -1.03446007, -0.93306558],
       [ 0.98465111, -0.56811207, -0.57468161, ..., -1.55362351,
        -1.03446007, -0.47380732]])

### Making the artifical neural network !!

In [28]:
## INITIALIZE THE ARTIFICIAL NEURAL NETWORK
ann = tf.keras.models.Sequential()

In [29]:
# ADD THE INPUT LAYER AND THE FIRST HIDDEN LAYER 
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

In [30]:
## ADD THE SECOND HIDDEN LAYER 
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

In [31]:
## ADD THE OUTPUT LAYER 
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

In [34]:
## COMPILE THE TRAIN AND TEST DATA
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [35]:
ann.fit(X_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100

2023-09-18 16:16:20.141130: W tensorflow/tsl/platform/profile_utils/cpu_utils.cc:128] Failed to get CPU frequency: 0 Hz

235/235 [==============================] - 1s 649us/step - loss: 0.7938 - accuracy: 0.4703
Epoch 2/100
235/235 [==============================] - 0s 596us/step - loss: 0.6261 - accuracy: 0.7821
Epoch 3/100
235/235 [==============================] - 0s 596us/step - loss: 0.5848 - accuracy: 0.7964
Epoch 4/100
235/235 [==============================] - 0s 597us/step - loss: 0.5574 - accuracy: 0.7963
Epoch 5/100
235/235 [==============================] - 0s 588us/step - loss: 0.5340 - accuracy: 0.7972
Epoch 6/100
235/235 [==============================] - 0s 592us/step - loss: 0.5094 - accuracy: 0.8053
Epoch 7/100
235/235 [==============================] - 0s 580us/step - loss: 0.4878 - accuracy: 0.8139
Epoch 8/100
235/235 [==============================] - 0s 589us/step - loss: 0.4708 - accuracy: 0.8176
Epoch 9/100
235/235 [==============================] - 0s 586us/step - loss: 0.4551 - accuracy: 0.8207
Epoch 10/100
235/235 [==============================] - 0s 580us/step - loss: 0.4390 - accuracy: 0.8301
Epoch 11/100
235/235 [==============================] - 0s 749us/step - loss: 0.4241 - accuracy: 0.8371
Epoch 12/100
235/235 [==============================] - 0s 597us/step - loss: 0.4125 - accuracy: 0.8407
Epoch 13/100
235/235 [==============================] - 0s 592us/step - loss: 0.4032 - accuracy: 0.8435
Epoch 14/100
235/235 [==============================] - 0s 665us/step - loss: 0.3973 - accuracy: 0.8428
Epoch 15/100
235/235 [==============================] - 0s 766us/step - loss: 0.3918 - accuracy: 0.8433
Epoch 16/100
235/235 [==============================] - 0s 612us/step - loss: 0.3872 - accuracy: 0.8449
Epoch 17/100
235/235 [==============================] - 0s 587us/step - loss: 0.3838 - accuracy: 0.8440
Epoch 18/100
235/235 [==============================] - 0s 590us/step - loss: 0.3809 - accuracy: 0.8452
Epoch 19/100
235/235 [==============================] - 0s 589us/step - loss: 0.3783 - accuracy: 0.8448
Epoch 20/100
235/235 [==============================] - 0s 592us/step - loss: 0.3760 - accuracy: 0.8457
Epoch 21/100
235/235 [==============================] - 0s 595us/step - loss: 0.3741 - accuracy: 0.8452
Epoch 22/100
235/235 [==============================] - 0s 580us/step - loss: 0.3727 - accuracy: 0.8471
Epoch 23/100
235/235 [==============================] - 0s 594us/step - loss: 0.3709 - accuracy: 0.8467
Epoch 24/100
235/235 [==============================] - 0s 584us/step - loss: 0.3698 - accuracy: 0.8476
Epoch 25/100
235/235 [==============================] - 0s 585us/step - loss: 0.3685 - accuracy: 0.8469
Epoch 26/100
235/235 [==============================] - 0s 575us/step - loss: 0.3673 - accuracy: 0.8488
Epoch 27/100
235/235 [==============================] - 0s 573us/step - loss: 0.3659 - accuracy: 0.8484
Epoch 28/100
235/235 [==============================] - 0s 575us/step - loss: 0.3645 - accuracy: 0.8495
Epoch 29/100
235/235 [==============================] - 0s 573us/step - loss: 0.3633 - accuracy: 0.8500
Epoch 30/100
235/235 [==============================] - 0s 571us/step - loss: 0.3622 - accuracy: 0.8505
Epoch 31/100
235/235 [==============================] - 0s 575us/step - loss: 0.3613 - accuracy: 0.8516
Epoch 32/100
235/235 [==============================] - 0s 577us/step - loss: 0.3602 - accuracy: 0.8529
Epoch 33/100
235/235 [==============================] - 0s 578us/step - loss: 0.3591 - accuracy: 0.8539
Epoch 34/100
235/235 [==============================] - 0s 586us/step - loss: 0.3581 - accuracy: 0.8529
Epoch 35/100
235/235 [==============================] - 0s 577us/step - loss: 0.3572 - accuracy: 0.8548
Epoch 36/100
235/235 [==============================] - 0s 580us/step - loss: 0.3561 - accuracy: 0.8535
Epoch 37/100
235/235 [==============================] - 0s 591us/step - loss: 0.3551 - accuracy: 0.8557
Epoch 38/100
235/235 [==============================] - 0s 636us/step - loss: 0.3541 - accuracy: 0.8573
Epoch 39/100
235/235 [==============================] - 0s 624us/step - loss: 0.3534 - accuracy: 0.8556
Epoch 40/100
235/235 [==============================] - 0s 634us/step - loss: 0.3527 - accuracy: 0.8584
Epoch 41/100
235/235 [==============================] - 0s 575us/step - loss: 0.3520 - accuracy: 0.8583
Epoch 42/100
235/235 [==============================] - 0s 582us/step - loss: 0.3513 - accuracy: 0.8589
Epoch 43/100
235/235 [==============================] - 0s 575us/step - loss: 0.3508 - accuracy: 0.8581
Epoch 44/100
235/235 [==============================] - 0s 586us/step - loss: 0.3503 - accuracy: 0.8611
Epoch 45/100
235/235 [==============================] - 0s 571us/step - loss: 0.3497 - accuracy: 0.8588
Epoch 46/100
235/235 [==============================] - 0s 592us/step - loss: 0.3495 - accuracy: 0.8595
Epoch 47/100
235/235 [==============================] - 0s 579us/step - loss: 0.3489 - accuracy: 0.8593
Epoch 48/100
235/235 [==============================] - 0s 579us/step - loss: 0.3479 - accuracy: 0.8603
Epoch 49/100
235/235 [==============================] - 0s 579us/step - loss: 0.3472 - accuracy: 0.8621
Epoch 50/100
235/235 [==============================] - 0s 695us/step - loss: 0.3458 - accuracy: 0.8619
Epoch 51/100
235/235 [==============================] - 0s 601us/step - loss: 0.3452 - accuracy: 0.8616
Epoch 52/100
235/235 [==============================] - 0s 568us/step - loss: 0.3445 - accuracy: 0.8621
Epoch 53/100
235/235 [==============================] - 0s 584us/step - loss: 0.3438 - accuracy: 0.8609
Epoch 54/100
235/235 [==============================] - 0s 582us/step - loss: 0.3434 - accuracy: 0.8623
Epoch 55/100
235/235 [==============================] - 0s 579us/step - loss: 0.3430 - accuracy: 0.8629
Epoch 56/100
235/235 [==============================] - 0s 575us/step - loss: 0.3427 - accuracy: 0.8613
Epoch 57/100
235/235 [==============================] - 0s 588us/step - loss: 0.3421 - accuracy: 0.8633
Epoch 58/100
235/235 [==============================] - 0s 580us/step - loss: 0.3417 - accuracy: 0.8631
Epoch 59/100
235/235 [==============================] - 0s 588us/step - loss: 0.3411 - accuracy: 0.8612
Epoch 60/100
235/235 [==============================] - 0s 573us/step - loss: 0.3411 - accuracy: 0.8633
Epoch 61/100
235/235 [==============================] - 0s 578us/step - loss: 0.3404 - accuracy: 0.8617
Epoch 62/100
235/235 [==============================] - 0s 580us/step - loss: 0.3402 - accuracy: 0.8624
Epoch 63/100
235/235 [==============================] - 0s 580us/step - loss: 0.3400 - accuracy: 0.8633
Epoch 64/100
235/235 [==============================] - 0s 587us/step - loss: 0.3393 - accuracy: 0.8644
Epoch 65/100
235/235 [==============================] - 0s 579us/step - loss: 0.3394 - accuracy: 0.8640
Epoch 66/100
235/235 [==============================] - 0s 573us/step - loss: 0.3387 - accuracy: 0.8631
Epoch 67/100
235/235 [==============================] - 0s 581us/step - loss: 0.3386 - accuracy: 0.8631
Epoch 68/100
235/235 [==============================] - 0s 578us/step - loss: 0.3383 - accuracy: 0.8632
Epoch 69/100
235/235 [==============================] - 0s 583us/step - loss: 0.3380 - accuracy: 0.8624
Epoch 70/100
235/235 [==============================] - 0s 579us/step - loss: 0.3377 - accuracy: 0.8623
Epoch 71/100
235/235 [==============================] - 0s 582us/step - loss: 0.3374 - accuracy: 0.8621
Epoch 72/100
235/235 [==============================] - 0s 581us/step - loss: 0.3371 - accuracy: 0.8624
Epoch 73/100
235/235 [==============================] - 0s 579us/step - loss: 0.3369 - accuracy: 0.8635
Epoch 74/100
235/235 [==============================] - 0s 582us/step - loss: 0.3368 - accuracy: 0.8631
Epoch 75/100
235/235 [==============================] - 0s 574us/step - loss: 0.3366 - accuracy: 0.8632
Epoch 76/100
235/235 [==============================] - 0s 579us/step - loss: 0.3365 - accuracy: 0.8624
Epoch 77/100
235/235 [==============================] - 0s 574us/step - loss: 0.3365 - accuracy: 0.8639
Epoch 78/100
235/235 [==============================] - 0s 580us/step - loss: 0.3364 - accuracy: 0.8625
Epoch 79/100
235/235 [==============================] - 0s 583us/step - loss: 0.3363 - accuracy: 0.8624
Epoch 80/100
235/235 [==============================] - 0s 585us/step - loss: 0.3360 - accuracy: 0.8628
Epoch 81/100
235/235 [==============================] - 0s 578us/step - loss: 0.3357 - accuracy: 0.8635
Epoch 82/100
235/235 [==============================] - 0s 583us/step - loss: 0.3355 - accuracy: 0.8619
Epoch 83/100
235/235 [==============================] - 0s 574us/step - loss: 0.3353 - accuracy: 0.8632
Epoch 84/100
235/235 [==============================] - 0s 724us/step - loss: 0.3356 - accuracy: 0.8619
Epoch 85/100
235/235 [==============================] - 0s 580us/step - loss: 0.3354 - accuracy: 0.8624
Epoch 86/100
235/235 [==============================] - 0s 580us/step - loss: 0.3351 - accuracy: 0.8623
Epoch 87/100
235/235 [==============================] - 0s 580us/step - loss: 0.3353 - accuracy: 0.8635
Epoch 88/100
235/235 [==============================] - 0s 580us/step - loss: 0.3350 - accuracy: 0.8632
Epoch 89/100
235/235 [==============================] - 0s 579us/step - loss: 0.3347 - accuracy: 0.8625
Epoch 90/100
235/235 [==============================] - 0s 573us/step - loss: 0.3344 - accuracy: 0.8641
Epoch 91/100
235/235 [==============================] - 0s 604us/step - loss: 0.3348 - accuracy: 0.8625
Epoch 92/100
235/235 [==============================] - 0s 583us/step - loss: 0.3350 - accuracy: 0.8636
Epoch 93/100
235/235 [==============================] - 0s 575us/step - loss: 0.3343 - accuracy: 0.8627
Epoch 94/100
235/235 [==============================] - 0s 583us/step - loss: 0.3347 - accuracy: 0.8637
Epoch 95/100
235/235 [==============================] - 0s 581us/step - loss: 0.3346 - accuracy: 0.8620
Epoch 96/100
235/235 [==============================] - 0s 577us/step - loss: 0.3345 - accuracy: 0.8645
Epoch 97/100
235/235 [==============================] - 0s 581us/step - loss: 0.3343 - accuracy: 0.8628
Epoch 98/100
235/235 [==============================] - 0s 611us/step - loss: 0.3340 - accuracy: 0.8641
Epoch 99/100
235/235 [==============================] - 0s 603us/step - loss: 0.3346 - accuracy: 0.8619
Epoch 100/100
235/235 [==============================] - 0s 578us/step - loss: 0.3342 - accuracy: 0.8624

In [41]:
print(ann.predict(sc.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])) > 0.5)

1/1 [==============================] - 0s 20ms/step
[[ True]]

In [42]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > .5)
np.concatenate((y_pred.reshape(len(y_pred), 1), y_test.reshape(len(y_test), 1)), 1)

79/79 [==============================] - 0s 471us/step

array([[0, 0],
       [0, 1],
       [0, 0],
       ...,
       [0, 0],
       [0, 0],
       [0, 0]])

In [45]:
print(confusion_matrix(y_pred, y_test))
print(accuracy_score(y_test, y_pred) * 100)

[[1884  240]
 [ 107  269]]
86.11999999999999